.hero {
  background: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url(../../img/hero-bg.webp);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &__btn {
    @include button-style;
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    background-image: url(../../img/phone/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/phone/hero-bg@1x.webp);
      background-size: cover;
      background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/phone/hero-bg@2x.webp);
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../img/phone/hero-bg@2x.webp);
      background-size: cover;
      background-position: center;
    }
  }

  .hero__title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }

  .hero__btn {
    margin-top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .hero {
    background-image: url(../../img/tablet/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/tablet/hero-bg@1x.webp);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../../img/tablet/hero-bg@2x.webp);
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../../img/tablet/hero-bg@2x.webp);
          background-size: cover;
          background-position: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }

  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: url(../../img/desktop/hero-bg@1x.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../img/desktop/hero-bg@1x.webp);
      background-size: cover;
      background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../../img/desktop/hero-bg@2x.webp);
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../../img/desktop/hero-bg@2x.webp);
          background-size: cover;
          background-position: center;
    }
  }

  .hero__btn {
    margin-top: 40px;
  }
}