.team {
  background: #f5f4fa;
  padding-bottom: 60px;

  &__item {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-color;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-color;
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  &__img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 40px;
    padding: 13px;
    padding-top: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: $transition-property $transition-duration;

    &:hover,
    &:focus {
      background-color: $main-color;
    }

    & svg {
      fill: rgb(161, 161, 161);
    }

    &:hover svg {
      fill: white;
    }

    &:focus svg {
      fill: white;
    }
  }

  &__svg__list {
    @extend %flex;
    gap: 10px;
  }
}

@media screen and (min-width: 320px) {
  
  .team {
    padding-top: 60px;
  }

  .team__title {
    font-size: 28px;
  }
  
  .team__list {
    margin-top: 30px;
    flex-direction: column;
  }

  .team__img {
    width: 100%;
    height: 320px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
  }
  
  .team__list {
    flex-direction: column;
  }

  .team__img {
    width: 450px;
    height: 460px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    flex: calc((100% - 30px) / 2);
  }

  .team__item {
    width: 354px;
    height: 536px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
  }

  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {

  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__title {
    font-size: 36px;
  }

  .team__item {
    width: 270px;
    height: 428px;
  }

  .team__img {
    width: 270px;
    height: 260px;
  }

  .team__list {
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}
