@mixin button-style {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 40px;
  width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

@mixin overlay-style {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  user-select: none;
}

@mixin title-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $second-color;
  padding-left: 24px;
  padding-top: 20px;
  margin-bottom: 4px;
}

@mixin description-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}